/*! Customized By V.R.Jewel for Codeboxr{V-1.0} */


/* ==========================================================================
    CodeboxrJewel  Author's custom  Responsive styles
   ========================================================================== */

   /* Large desktop */
   @media (min-width: 1200px) { 

   
    
   /* Portrait tablet to landscape and desktop */
   @media (min-width: 768px) and (max-width: 979px) { 

     .container{
     max-width:900px;
     }
   .elite-button-section{
     padding-bottom: 15px;
    }

    .elite-portfolio{
      width:340px;
    }
/*
    .elite-form {
        position: relative;
        top: 50%;
        left:70%;
        margin-left: 0px; 
        left: 146px;
        transform: translateY(-50%);
}*/

   }


   ul li{
    /*padding: px;*/
    margin: 5px;
    list-style: none;
    display:inline-block;
    }
    
   /* Landscape phone to portrait tablet */
   @media (max-width: 767px) { 

     .elite-portfolio{
                 width:500px;
                  }

    }
    
   /* Landscape phones and down */
   @media (max-width: 480px) { 
       .elite-portfolio{
                       width:340px;
                 }

    .elite-form-control{
    height:20px;
    width:30px !important;
    padding-right: 0px;
    text-align: center;
    font-size: 20px;
               }


   .elite-btn-default{
    background:#a0cf4f;
    height:20px;
    width:10px;
    border-radius:0px;
    margin-left: -7px;
    color:#fff;
    font-size:30px;
                    }
	  ./*elite-button-section{
      max-width: 240px;
         }*/


  .recomend-text {
           padding: 15px 5px 5px 5px;
            text-align: center;
      /* margin-top: 81px; */
            font-size: 10px;

      }
   

   }




   