/*! Customized By V.R.Jewel for Codeboxr{V-1.0} */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body{
   overflow-y: scroll;
   overflow-x: hidden;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 20px;
  } 

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    CodeboxrJewel  Author's custom styles
   ========================================================================== */


.elite-body{
   margin-top: 25px; 
}
section{
    margin-bottom: 50px;
}
.elite-navbar-collapse{
    text-align: right;
    background:#111;

}

.elite-btn-default{
    background:#a0cf4f;
    height:60px;
    width:100px;
    border-radius:0px;
    margin-left: -7px;
    color:#fff;
    font-size:30px;
}
.elite-choose{
  font-size: 30px;
}
.elite-form-control{
    height:60px;
    width:300px !important;
    padding-right: 0px;
    text-align: center;
    font-size: 20px;
    }

.elite-form{ 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
      }

.elite-make-theme{
       color:#f07788;
       font-size:60px;
}
.elite-button-wrapper{
  padding-top: 5px; 
  padding-right: 10px;
}

.elite-navbar-toggle{
  background-color: #a0cf4f !important;
}

.elite-portfolio{
     text-align: left;
     height:340px;
     width:254px;
}

.second-nav-wrapper{
text-align: center;
}

ul li{
    list-style: none;
    display:inline-block;
    margin-right: 20px;
    font-size:24px;
    
}

ul li p{
   !important;
}

ul{
    padding-left: 0px;
    margin-bottom: 30px;
}
.elite-get-theme{
    background:#ddd;
   
    z-index: 999;
}
.elite-get-img{
left:0;
z-index: 1;
}

.get-theme-middle{
text-align: center;
}

.get-theme-middle h2 {
    font-size: 42px;
}
.get-theme{
    background:#ddd;
}
.get-theme-rigt{
   background:#fff;
   height:100%; 
   height: 178px;
   border-right-width: 0px;
   margin-right: 1px;
   padding-top: 2px; 
   border-top-width: 4px;
   margin-top: 1px;
}

.subscribe{
  background: #a0ce4e;  
  color:#fff;
  text-align:center !important; 
  height: 93px; 
  margin-top: 32px;
  padding-top: 2%;
}
.recomend{
    background:#ddd;
    padding-left:0px; 
}
.recomend-text{
    padding:30px 10px 10px 10px;
    text-align: center;
    /*margin-top: 81px;*/
    font-size: 24px;
    
}
.elite-button{
        background: #4aa3df;
        color:#fff;
        text-align: center;
       
}
.elite-button a{
       text-decoration: none;
       color:#fff;
       font-size:20px;
       padding-left:5px;
}
 .elite-button-premi{
       background: #4aa3df;
       text-decoration: none;
       font-size:30px;
       padding-left:5px; 
       text-align: center;
} 
.elite-button-wrapper a{
       text-decoration: none;
       padding-left:5px;
       color:#fff;
       text-align: center;
}

.elite-feature-img{
     background:url(../img/feature-img1.png) no-repeat center center;
     height:324px;

}


.get-elite-theme{
border-top: 2px solid#eee;
border-bottom: 2px solid#eee;
border-right: 2px solid#eee;

}
.custom-design{
background: #a0ce4e;  
padding:7px 0px 7px 7px;
border-radius: 5px;
text-align: center;
font-size: 36px;
color:#fff;
}

.custom-design h2 {
  font-size: 36px;
  line-height: 24px;
}

.elite-button-section{
padding-top: 10px;
text-align: center;
}

.elite-nav li a{
        background: #4aa3df;
        color:#fff;
        text-align: center;
        padding:10px;
}
.big-img{
    background:url(../img/big-img.jpg);
    height:300px;
}

.elite-form-parent{
                  height:300px;
                 }

.elite-form{ 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
      }

.footer-widget-heading{
font-size: 42px;
}

.add1{
    text-align: center;
    
}

.elite-icon{
    color: #4aa3df;
}



/* ==========================================================================
                                Footer
   ========================================================================== */
   footer{
    background:#e4e4e4;
    padding-top: 20px;
    border-top: 10px solid#a0cf4f;
    margin-top: 100px; 
   }





























/* ==========================================================================
   Helper classes************ Author's end 
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
